body{
    background-color:green;
}
div{
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: example;
    animation-duration: 8s;
}
@keyframes example{
    0% {background-color: orchid; left:0px; top:0px;}
    25%{background-color: indigo;left: 200px; top: 0px;}
    50%{background-color: orangered; left:200px; top:200px;}
    75%{background-color: palegreen; left: 0px; top: 200px;}
    100%{background-color: powderblue; left: 0px; top: 0px;}
}
p{
    height: 100px;
    width: 100px;
    justify-content: center;
    text-align: center;
    background-color: white;
    position: relative;
    animation-name: bubble;
    animation-duration: 5s;
  }
  @keyframes bubble{
    0% {left: 50% ;top: 50%;}
    50% {width: 100%; left: 0%; top: 50%;}
    100%{left: 50%; top: 30%; width: 30%}
  
  }